.table-cell {
    -fx-alignment: CENTER;
}

.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.table-view .column-header {
    -fx-padding: 5 10;
    -fx-font-size: 14px;
    -fx-cell-size: 30px;
}

.table-view .column-header .arrow {
    -fx-shape: "";
    -fx-padding: 0;
}